<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <img src="{{ "/img/logo-white.png" | absolute_url }}" alt="" class="footer-logo">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
        </div>
</footer>
<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
